$primary:#5265E1;
$secondary:#FA5959;
html, body {
    overflow-x:hidden 
  } 
.colorRed:hover{
    color: $secondary !important;
}
.blueFigure{
    background-color: $primary;
    width: 100rem;
    top: 40%;
    height: 70%;
    left: 30%;
    border-radius: 200px 0 0 200px;
    position: absolute;
    z-index:-3;
}
.blueFigure2 {
    background-color: $primary;
    width: 100rem;
    height: 70%;
    right: 25%;
    top: 50%;
    position: absolute;
    z-index: -3;
    border-radius: 0 200px 200px 0;
}
@import "./node_modules/bootstrap/scss/bootstrap.scss";